@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add some smooth transitions for a better feel */
button {
  transition: all 0.2s ease-in-out;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}